<!DOCTYPE html>

<html lang="en">
    <head>
        <title>News</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Custom CSS -->
        <link href="/static/styles.css" rel="stylesheet">
      </head>
    <body>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">Home</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/add">Stocks</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/readlater">Read Later</a>
                  </li>
                </ul>
              </div>
            </div>
        </nav>
        <div class="container w-50">
          <div class="card bg-dark text-white text-center shadow p-3 m-4">
            <blockquote class="blockquote mb-0 m-3">
              <p>Stay updated on a company by adding it to your portfolio</p>
                <form action="/add" method="post">
                  <div class="form-group">
                      <input autofocus autocomplete="off" class="form-control shadow" name="stock_add" placeholder="Ticker" type="text">
                  </div>
                  <button class="btn btn-outline-light shadow" type="submit">Add Company</button>
                </form>
            </blockquote>
          </div>
          <div class="card bg-dark text-white text-center shadow p-3 m-4"> 
                <blockquote class="blockquote mb-0 m-3">
                  <p>Remove a company from your portfolio</p>
                  <form action="/add" method="post">
                    <select class="form-control" name="stock_removal">
                      <option disabled selected value>Company</option>
                      {% for ticker in tickers%}               
                        <option value="{{ticker}}">{{ticker}}</option>
                      {% endfor %}
                    </select>
                    <button class="btn btn-outline-light m-3 shadow" type="submit">Remove Company</button>
                  </form>
                </blockquote>
          </div>
        </div>
    </body>
</html>